* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(7, 7, 7);
    background-size: cover;
}

::selection {
    color: rgb(255, 237, 237);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(1, 251, 255), rgb(151, 113, 255));
    border-radius: 10px;
    border: 2px solid rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 15px 0px rgb(255, 255, 255);
}

p, h1, h2, h3, a, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h6 {
    font-size: 50px;
}

.navbar {
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: rgb(18, 18, 18);
    border-radius: 4px;
    border: solid 1.5px #06f3ff;
    margin-bottom: 150px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    list-style: none;
    border-radius: 5px;
}

.links a {
    display: inline-block;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: solid transparent 4px;
    transition: 0.3s;
}

.links a:hover {
    color: rgb(63, 63, 63);
    border-bottom: solid rgb(0, 217, 217) 4px;
}

.Login-signup {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 30px;
}

.Login-signup a {
    text-decoration: none;
}

.section, .section1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-height: 400px;
    padding: 30px;
    border-radius: 90px;
    margin-top: 60px;
    margin-bottom: 300px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 7px 3px rgb(170, 1, 255);
    position: relative;
    transition: 0.4s;
}

.card1:hover {
    transform: scale(1.04);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: auto;
}

.button, .button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.button {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 14%, rgb(4, 4, 4) 59%, rgb(17, 0, 255) 95%);
}

.button2 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 14%, rgb(0, 0, 0) 59%, rgb(247, 0, 255) 95%);
}

.button:hover, .button2:hover {
    transform: translateY(-7px);
    font-weight: bold;
    box-shadow: 0 0 25px rgba(48, 48, 48, 0.8), 0 0 30px rgba(248, 246, 236, 0.4);
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    min-height: 700px;
    margin-bottom: 200px;
    background-color: rgb(52, 52, 52);
    opacity: 0.6;
    border-radius: 6px;
    border: 1px solid aqua;
    transition: 0.5s;
}

.info:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 15px rgba(192, 2, 255, 0.8), 0 0 30px rgba(182, 0, 243, 0.879);
}

.info-title {
    padding: 30px;
    font-size: 30px;
}

.programming-card, 
.programming-card0, 
.programming-card1, 
.programming-card2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    min-height: 400px;
    border-radius: 8px;
    transition: 0.3s;
    margin: 10px;
}

.programming-card0 {
    background-image: linear-gradient(90deg, rgba(255, 170, 0, 1) 0%, rgba(255, 132, 0, 1) 49%, rgb(0, 0, 0) 53%);
}

.programming-card1 {
    flex-direction: column;
    background-image: linear-gradient(90deg, rgb(21, 0, 255) 0%, rgb(76, 0, 255) 49%, rgb(0, 0, 0) 53%);
}

.programming-card2 {
    flex-direction: column;
    background-image: linear-gradient(90deg, rgb(0, 255, 204) 0%, rgb(0, 255, 242) 49%, rgb(174, 183, 0) 53%);
}

.programming-card:hover,
.programming-card0:hover,
.programming-card1:hover,
.programming-card2:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 15px rgba(249, 249, 249, 0.8), 0 0 30px rgba(0, 243, 186, 0.879);
}

.html-img, .css-img {
    width: 300px;
    min-height: 200px;
    object-fit: cover;
}